<ion-card>
  <ion-card-header (click)="toggleAccordion()">
    <ion-icon name="ios-arrow-down-outline"></ion-icon>
    ESPECIALIDAD
  </ion-card-header>
  <ion-card-content #ccc>
    <ion-list>
      <ion-item>
        <ion-label>Nombre: </ion-label>
        <ion-label></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Especialidad: </ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Fecha: </ion-label>
        <ion-input ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Minimo de sesiones: </ion-label>
        <ion-label></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Maximo de sesiones: </ion-label>
        <ion-label></ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>